/*Google Fonts - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("navbar.css");

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color:#c3d3f8;
    margin: 0px;
}

.container{
    position: relative;
    margin-top: 100px;
    margin-bottom: 70px;
    max-width: 700px;
    width: 100%;
    padding: 45px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 15 px rgba(0,0,0,0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.container header{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label{
    color: #333;
}

.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    background-color: #eee;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 12px 15px;
}

.form .column{
    display: flex;
    column-gap: 15px;

}

.selection-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 20px;
}

.selection input{
    accent-color:#5673ae;
}

.form .input-box select{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    background-color: #eee;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 15px;
}

#venue, #contact, #events, #time{
        font-size: 12px;
}

.form button{
    border-radius: 2px;
	border: 1px solid #5673ae;
	background-color: #5673ae;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin-top: 20px;
    width: 170px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
    width: 100%;
}

.form button:active{
    transform: scale(0.95);
}

.form button:focus {
	outline: #fff;  
}

::placeholder {
    font-size: 12px;
}
  



