/*Google Fonts - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0 20px;
    background-color:#c3d3f8;
}

.container{
    position: relative;
    margin-top: 70px;
    max-width: 700px;
    width: 100%;
    padding: 45px;
    background: white;
    border-radius: 8px;
    border-radius: 0 0 15 px rgba(0,0,0,0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label{
    color: #333;
}

.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    font-style: italic;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column{
    display: flex;
    column-gap: 15px;

}

.selection-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 20px;
}

.selection input{
    accent-color:#5673ae;
}

.form .input-box select{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    font-style: italic;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.form button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    font-weight: 400; 
    transition: all 0.2s ease;
    background-color:#c3d3f8;
}

.form button:hover{
    background-color:#5673ae;
}



